.start {
    background-color: rgb(26, 40, 109);
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100% !important;
    padding-top: 90px;
    padding-bottom: 100px;  
}
.head {
    text-align: center;
    padding-top: 90px;
    padding-bottom: 100px;
}
img {
    padding-top: 40px;
    padding-bottom: 00px;
    padding-right: 100px;
    padding-left: 200px;
}
.article_text{
    padding-top: 100px;
    background-color:rgb(233, 233, 225)
}
p{

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
h3{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    padding-top: 30PX;
}
H1{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 70px;
}
a:link {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration:underline;
  }
  
  a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: underline;
  }
  a:hover {
    color: rgb(24, 28, 70);
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: underline;
  }
  .row{
        font-size: smaller;
        font-family: 'Barlow Semi Condensed', sans-serif;
  }
  iframe {
    padding-top: 50px;
  }
  footer{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 30px;
  }