/* font-family: 'Noto Sans Bassa Vah', sans-serif;
font-family: 'Bebas Neue', cursive;
grey: #d9d9d9
green: #CCDFCA
black text*/
body{
    background-color: #d9d9d9;
}
main{
    margin-left: 20px;
    margin-top: 200px;
    margin-bottom: 100px;

}
h1{
    text-align: center;
    border: solid black;
    background-color: #CCDFCA;
    letter-spacing: 1.5px;
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    margin-top: 150px;
}
h2{
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}
img{
    border-radius: 50%;
    padding: 1px;
}
h6{
    font-family: 'Noto Sans Bassa Vah', sans-serif;
    font-size: 30px;
    margin-left: 60px;
    margin-top: 150px;
    margin-bottom: 100px;
    background-color: #CCDFCA;
}
header{
    font-family: 'Noto Sans Bassa Vah', sans-serif;
    text-decoration-line: underline;
}