/* font-family: 'Noto Sans Bassa Vah', sans-serif;
font-family: 'Bebas Neue', cursive;
grey: #d9d9d9
green: #CCDFCA
black text*/

header{
    font-family: 'Noto Sans Bassa Vah', sans-serif;
    text-decoration-line: underline;
    text-align: center;
}
h1{
    
    background-color: #CCDFCA;
    letter-spacing: 1.5px;
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
    margin-top: 5px;
    text-align: center;
}
body{
    background-color: #d9d9d9;
}
h4{
    font-family: 'Noto Sans Bassa Vah', sans-serif;
}
.dates {
    font-size: 12px;
    font-family: 'Noto Sans Bassa Vah', sans-serif;
}
.bowie_sun{
    margin-top: 50px;
}
main{
    margin-left: 50px;
}